<div class="border-b border-gray-300 bg-white">
  <div class="container p-[14px_20px_8px] flex relative items-center gap-2 md:px-0 !overflow-visible">
    <a href="./index.htm" class="text-black font-bold md:text-[18px] lg:text-[20px] font-[Inter] flex-1 md:max-w-[36%] xl:text-[22px]">Exclusive</a>
    <img src="./assets/icons/menu.svg" class="w-4 md:hidden peer" alt="navigation menu">
    <div id="menu" class="
    absolute left-5 top-full max-h-0 overflow-hidden peer-[.active]:max-h-40 transition-all duration-300 z-10 bg-white w-[calc(100%_-_40px)] peer-[.active]:pb-4
    md:relative md:max-h-full md:flex md:items-center md:gap-2 md:flex-1 md:justify-between md:left-0 md:py-0
    ">
      <ul class="
      grid grid-cols-2 gap-1.5 mb-2 py-2
      md:flex md:items-center md:mb-0 md:py-0 md:gap-3 xl:gap-5
      ">
        <li><a class="text-sm md:text-[12px] xl:text-base md:hover:border-b md:pb-1 [.active]:md:border-b" data-page="home" href="./index.htm">Home</a></li>
        <li><a class="text-sm md:text-[12px] xl:text-base md:hover:border-b md:pb-1 [.active]:md:border-b" data-page="contact" href="./contact.htm">Contact</a></li>
        <li><a class="text-sm md:text-[12px] xl:text-base md:hover:border-b md:pb-1 [.active]:md:border-b" data-page="about" href="./about.htm">About</a></li>
        <li><a class="text-sm md:text-[12px] xl:text-base md:hover:border-b md:pb-1 [.active]:md:border-b" data-page="signup" href="./signup.htm">Sign Up</a></li>
      </ul>
      <div class="
      flex items-center gap-1.5 bg-[#F5F5F5] p-3 rounded
      
      ">
        <input type="text" placeholder="What are you looking for ?" class="
        text-[12px] w-42 pr-2 
        md:pr-0 md:block ">
        <img src="./assets/icons/search.svg" class="w-4" alt="Search">
      </div>
    </div>
    <div class="relative" >
      <a class="peer active" data-items="0" id="fav-page" href="./wishlist.htm"><img src="./assets/icons/heart.svg" alt="wishlist page" class="w-4"></a>
      <span class="
      absolute top-0 right-0 rounded-full translate-x-1/2 -translate-y-1/2 aspect-square bg-(--red) p-2 text-white
      peer-[[data-items='0']]:hidden
      ">
        <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[9px] font-bold"></span>
      </span>
    </div>
    <div class="relative" >
      <a class="peer active" data-items="0" id="cart-page" href="./cart.htm"><img src="./assets/icons/shopping-cart.svg" alt="cart page" class="w-4"></a>
      <span class="
      absolute top-0 right-0 rounded-full translate-x-1/2 -translate-y-1/2 aspect-square bg-(--red) p-2 text-white
      peer-[[data-items='0']]:hidden
      ">
        <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-[9px] font-bold"></span>
      </span>
    </div>
  </div>
</div>