<div class="shadow">
  <div class="container p-[14px_20px_8px] flex relative items-center gap-2 md:px-0 !overflow-visible">
    <a href="./index.htm" class="text-black font-bold font-[Inter] flex-1 md:max-w-[36%] xl:text-xl">Exclusive</a>
    <img src="./assets/icons/menu.svg" class="w-4 md:hidden peer" alt="navigation menu">
    <div id="menu" class="
    absolute left-5 top-full max-h-0 overflow-hidden peer-[.active]:max-h-40 transition-all duration-300 z-10 bg-white w-[calc(100%_-_40px)] pb-4
    md:relative md:max-h-full md:flex md:items-center md:gap-2 md:flex-1 md:justify-between md:left-0 md:py-0
    ">
      <ul class="
      grid grid-cols-2 gap-1.5 mb-2 py-2
      md:flex md:items-center md:mb-0 md:py-0 md:gap-3 xl:gap-5
      ">
        <li><a class="text-sm md:text-[12px] xl:text-base md:hover:underline" href="./index.htm">Home</a></li>
        <li><a class="text-sm md:text-[12px] xl:text-base md:hover:underline" href="./contact.htm">Contact</a></li>
        <li><a class="text-sm md:text-[12px] xl:text-base md:hover:underline" href="./about.htm">About</a></li>
        <li><a class="text-sm md:text-[12px] xl:text-base md:hover:underline" href="./signup.htm">Sign Up</a></li>
      </ul>
      <div class="
      flex items-center gap-1.5 bg-[#F5F5F5] p-3 rounded
      
      ">
        <input type="text" placeholder="What are you looking for ?" class="
        text-[12px] w-42 pr-2 
        md:pr-0 md:block ">
        <img src="./assets/icons/search.svg" class="w-4" alt="">
      </div>
    </div>
    <div><a href="./wishlist.htm"><img src="./assets/icons/heart.svg" alt="wishlist page" class="w-4"></a></div>
    <div><a href="./cart.htm"><img src="./assets/icons/shopping-cart.svg" alt="cart page" class="w-4"></a></div>
  </div>
</div>